<% include static/header %>

<div class="row" id="aura_top">       
    <!-- LOCAL INFORMATION -->
    <div class="col-xs-12 col-sm-6 col-xl-left">
        <% if (profileMsg && profileMsg.length > 0) { %>
            <div class="alert alert-danger"><%= profileMsg %></div>
        <% } %>
        <div class="block">
            <h3>Profile Settings</h3>
            <p>Create or edit your username, profile visibility and your import default visibility here. Your profile currently lists all your public imports and uploads. In the future there will be more information you'll be able to add here.</p>
            <form action="/account/update/profile" method="post">
                <strong>User Name</strong>
                <input type="text" class="form-control" aria-label="User Name" name="profilename" placeholder="Anonymous user" value="<%= user.account.username || 'User-'+user._id %>" maxlength="22">

                <br>
                <div class="dropdown float-left" id="profileVisibiltyDropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile Visibilty: <span class="dropdownValue"><% if (user.account.hidden) { %>Private<% } else { %>Public<% } %></span>
                        <input name="profilevisibility" type="hidden" value="<% if (user.account.hidden) { %>Private<% } else { %>Public<% } %>" class="inputValue" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileVisibiltyDropdown">
                        <a class="dropdown-item" href="#" data-val="Public">Public</a>
                        <a class="dropdown-item" href="#" data-val="Private">Private</a>
                    </div>
                </div>
                <a href="/profile" style="float:left; padding:.5em 1em">View Profile</a><br style="clear:both">

                <br>
                <div class="dropdown float-left" id="importDefaultDropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Default Import Visibility: <span class="dropdownValue"><%= user.account.default_aura_visibility %></span>
                        <input name="auravisibility" type="hidden" value="<%= user.account.default_aura_visibility %>" class="inputValue" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="importDefaultDropdown">
                        <a class="dropdown-item" href="#" data-val="Public">Public</a>
                        <a class="dropdown-item" href="#" data-val="Hidden">Hidden (only viewable with link)</a>
                        <a class="dropdown-item" href="#" data-val="Private">Private (only you may view)</a>
                    </div>
                </div>

                <br style='clear:both'><br>
                <input type="submit" class="btn btn-default" value="Submit"></button>
            </form>
        </div><br>

        <%
        if (user) {
            %>
            <div class="block">
                <h3>Site Options</h3>
                <strong>Select site theme</strong>
                <div id="theme_select">
                    <div class="classic">Classic</div>
                    <div class="dark">Dark</div>
                </div>
            </div><br>
            <%
        }
        %>
        <% if (accountMsg && accountMsg.length > 0) { %>
            <div class="alert alert-danger"><%= accountMsg %></div>
        <% } %>
        <div class="block">
            <h3>Wago Account</h3>
            <% if (user.account.password) {
                %>
                <p>You may change your Wago account password here. <br>Wago does not collect e-mail addresses so there is no password recovery feature. You can always log in with your linked social accounts as an alternative.</p>
                <form action="/account/update/password" method="post">
                    <strong>New Password</strong>
                    <input type="password" class="form-control" name="password">
                    <br>
                    <strong>Confirm</strong>
                    <input type="password" class="form-control" name="password2">
                    <br>
                    <input type="submit" class="btn btn-default" value="Update Account"></button>
                </form>
                <%
            }
            else {
                %>
                <p>You do not have a Wago account. You can always log in with your linked social accounts, or create a Wago account here.</p>
                <form action="/signup" method="post">
                    <strong>User Name</strong>
                    <input type="text" class="form-control" aria-label="User Name" name="username" placeholder="Anonymous user" value="<%= user.account.username %>" maxlength="22">
                    <br>
                    <strong>Password</strong>
                    <input type="password" class="form-control" name="password">
                    <br>
                    <strong>Confirm</strong>
                    <input type="password" class="form-control" name="password2">
                    <br>
                    <input type="submit" class="btn btn-danger" value="Create Account"></button>
                </form>
                <%
            } %>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <%
        if (user.battlenet.id || user.twitter.id || user.facebook.id || user.google.id || user.discord.id) {
            %>
            <div class="block" id="linked_accounts">
                <h3>Linked Social Accounts</h3>
                <% if (user.battlenet.id) { %>
                    <div class="input-group">
                        <span class="input-group-addon bg-battlenet"><span class="icon-battlenet"></span> Battle.net</span>
                        <input type="text" class="form-control" value="<%=user.battlenet.name %>" readonly>
                        <% if (user.account.total_accounts>1) { %>
                            <span class="input-group-btn">
                                <a class="btn tag-alert" type="button" href="/unlink/bnet"><span class="icon-cross"></span></a>
                            </span>
                        <% } %>
                    </div>
                    <div class="account-options">
                        <% if (!user.account.verified_human) { %>
                            Battle.net is used to verify your humanity. If you have a level 100+ character with at least 800 achievement points,
                            Wago will determine that you are a human and any URLs used in Wago descriptions will be turned into links.
                            <br><a href="/auth/bnet">Refresh from Battle.net</a>
                        <% } else { %>
                            Battle.net is used to verify your humanity. You have been detected as a human.<br>Any URLs used in your Wago descriptions will be turned into links.
                        <% } %>
                    </div><br>
                <% } %>

                <% if (user.discord.id) { %>
                    <div class="input-group">
                        <span class="input-group-addon bg-discord"><span class="icon-discord"></span> Discord</span>
                        <input type="text" class="form-control" value="<%=user.discord.name %>#<%=user.discord.discriminator %>" readonly>
                        <% if (user.account.total_accounts>1) { %>
                            <span class="input-group-btn">
                                <a class="btn tag-alert" type="button" href="/unlink/discord"><span class="icon-cross"></span></a>
                            </span>
                        <% } %>
                    </div>
                    <div class="account-options">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input account-option" data-field="discord-messageOnFaveUpdate" <%= user.discord.options.messageOnFaveUpdate?'checked':'' %>>
                                Recieve a private message on Discord whenever something you have starred is updated.
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input account-option" data-field="discord-messageOnComment" <%= user.discord.options.messageOnComment?'checked':'' %>>
                                Recieve a private message on Discord whenever you recieve a comment.<br>
                                <small>Discord permissions will by-default block messages from the bot unless you are in a shared server -
                                be sure to join the <a href="https://discord.gg/wa2">WeakAuras Discord!</a></small>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="webhookinput">Have your own Discord server?<br>Create a webhook to broadcast to your selected channel whenever you create or update a Wago.</label>
                            <input type="text" id="webhookinput" class="form-control form-control-sm account-option" data-field="discord-webhook" value="<%= user.discord.webhooks.onCreate?user.discord.webhooks.onCreate:'' %>"placeholder="https://discordapp.com/api/webhooks/123456789">
                        </div>
                    </div><br>
                <% } %>

                <% if (user.facebook.id) { %>
                    <div class="input-group">
                        <span class="input-group-addon bg-facebook"><span class="icon-facebook"></span> Facebook</span>
                        <input type="text" class="form-control" value="<%=user.facebook.name %>" readonly>
                        <% if (user.account.total_accounts>1) { %>
                            <span class="input-group-btn">
                                <a class="btn tag-alert" type="button" href="/unlink/facebook"><span class="icon-cross"></span></a>
                            </span>
                        <% } %>
                    </div>
                <% } %>

                <% if (user.google.id) { %>
                    <div class="input-group">
                        <span class="input-group-addon bg-google"><span class="icon-google"></span> Google</span>
                        <input type="text" class="form-control" value="<%=user.google.name %>" readonly>
                        <% if (user.account.total_accounts>1) { %>
                            <span class="input-group-btn">
                                <a class="btn tag-alert" type="button"href="/unlink/google"><span class="icon-cross"></span></a>
                            </span>
                        <% } %>
                    </div>
                <% } %>

                <% if (user.twitter.id) { %>
                    <div class="input-group">
                        <span class="input-group-addon bg-twitter"><span class="icon-twitter"></span> Twitter</span>
                        <input type="text" class="form-control" value="@<%=user.twitter.username %>" readonly>
                        <% if (user.account.total_accounts>1) { %>
                            <span class="input-group-btn">
                                <a class="btn tag-alert" type="button" href="/unlink/twitter"><span class="icon-cross"></span></a>
                            </span>
                        <% } %>
                    </div>
                <% } %>
            </div><br>
            <%
        }

        if (!(user.battlenet.id && user.twitter.id && user.facebook.id && user.google.id && user.discord.id)) {
            %>
            <div class="block">
                <h3>Available Social Accounts</h3>
                <p>The following accounts are available to be linked.</p>
                <!-- BATTLENET INFORMATION -->
                <% if (!user.battlenet.id) { %>
                    <a href="/auth/bnet" class="btn bg-battlenet"><span class="icon-battlenet"></span> Battle.net</a>
                <% } %>

                <!-- DISCORD INFORMATION -->
                <% if (!user.discord.id && user && user.access.beta) { %>
                    <a href="/auth/discord" class="btn bg-discord"><span class="icon-discord"></span> Discord</a>
                <% } %>

                <!-- TWITTER INFORMATION -->
                <% if (!user.twitter.id) { %>
                    <a href="/auth/twitter" class="btn bg-twitter"><span class="icon-twitter"></span> Twitter</a>
                <% } %>

                <!-- FACEBOOK INFORMATION -->
                <% if (!user.facebook.id) { %>
                    <a href="/auth/facebook" class="btn bg-facebook"><span class="icon-facebook"></span> Facebook</a>
                <% } %>

	            <!-- GOOGLE INFORMATION -->
                <% if (!user.google.id) { %>
                    <a href="/auth/google" class="btn bg-google"><span class="icon-google"></span> Google</a>
                <% } %>
            </div><br>
            <%
        }

        %>
        <div class="block" id="patreon-block">
            <h3>Patreon Subscription</h3>
            <%
            if (user.roles.subscriber || user.roles.goldsubscriber) {
                %>
                <p>Thank you for subscribing! Your support means a lot.</p>
                <%
                if (user.roles.goldsubscriber) {
                    %>
                    <p>Your <span class="user-goldsub">Gold Subscriber</span> benefits are activated.</p>
                    <%
                }
                else if (user.roles.subscriber) {
                    %>
                    <p>Your <span class="user-sub">Subscriber</span> benefits are activated.</p>
                    <%
                }
                else if (user.patreon && user.patron.declined_since) {
                    %>
                    <p>There appears to be a problem with your Patreon subscription, and your payment was declined. Please check with Patreon to see what the problem might me.</p>
                    <%
                }

                if (user.account.total_accounts>1) {
                    %>
                    <p>To unlink your Patreon account and disable your subscriber benefits you may click the X below.</p>
                    <div class="input-group">
                        <span class="input-group-addon bg-patreon"><span class="icon-patreon"></span> Patreon</span>
                        <input type="text" class="form-control" value="<%=user.patreon.profile.name %>" readonly>
                        <span class="input-group-btn">
                            <a class="btn tag-alert" type="button" href="/unlink/patreon"><span class="icon-cross"></span></a>
                        </span>
                    </div>
                    <%
                }
                else {
                    %>
                    <p>To unlink your Patreon account, and disable your subscriber benefits, you must first create a Wago account or link a different social account first.</p>
                    <%
                }
            }
            else {
                %>
                <p>If you have subscribed to Wago.io's Patreon then please link your Patreon account to activate your subscriber benefits.</p>
                <a href="/auth/patreon" class="btn bg-patreon"><span class="socicon socicon-patreon"></span> Patreon</a>
                <%
            }
            %>
        </div><br>
        <%

        if (user.api.public_key!='') {
            %>
            <div class="block" id="api-keys">
                <h3>API</h3>
                <p>The Wago API is still a work in progress and things will likely change.<br>View <a href="/apidoc">API Docs</a>.</p>
                <div class="input-group">
                    <span class="input-group-addon">API Key</span>
                    <input type="text" class="form-control" value="<%=user._id %>-<%= user.api.public_key %>" readonly>
                </div>
            </div>
            <%
        }
        %>

    </div>
</div>
<% include static/footer %>      