<% include static/header %>

<div class="row" id="aura_top">
    <div class="col-xs-12">
        <div class="block">
            <h4>Search Wago.io</h4>
            <div class="text-muted">
                <%= auralist.total || '0' %> results found.
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by <%= pageinfo.sort %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="sortby-select">
                        <li><a href="?q=<%= options.q || '' %>&sort=date" class="sortresults" data-sort="date">Sort by Date</a></li>
                        <li><a href="?q=<%= options.q || '' %>&sort=stars" class="sortresults" data-sort="stars">Sort by Stars</a></li>
                        <li><a href="?q=<%= options.q || '' %>&sort=views" class="sortresults" data-sort="views">Sort by Views</a></li>
                        <li><a href="?q=<%= options.q || '' %>&sort=comments" class="sortresults" data-sort="comments">Sort by Comments</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <div class="block">
            <form action="/search" class="form-horizontal row" method="post">
                <input type="hidden" name="advancedSearch" id="advancedSearchInput" value="" />
                <div class="form-group">
                    <label for="query" class="col-xs-2 col-sm-1 control-label">Search for</label>
                    <div class="col-xs-10 col-sm-11">
                        <input type="text" name="q" class="form-control" id="query" placeholder="" value="<%= options.q || '' %>">
                    </div>
                </div>
                <p>Advanced search options are temporarily disabled.</p>
                <!--
                <% if (!options.advancedSearch) { %>
                    <p><a href="#" id="enable_adv_search">View Advanced Search Form</a></p>
            <div id="adv_search">
                <% } %>
                <div class="form-group">
                    <label class="col-xs-2 col-sm-1 control-label">Search within</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchName" type="checkbox" <%= !options.advanced||options.searchName ? "checked":"" %>> Name
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="searchDesc" type="checkbox" <%= !options.advanced||options.searchDesc ? "checked":"" %>> Description
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input name="searchFunc" type="checkbox" <%= options.searchFunc ? "checked":"" %>> Custom Functions <small>(WeakAuras only)</small>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="searchTable" type="checkbox" <%= options.searchTable ? "checked":"" %>> Complete Data Table <small>(ElvUI and WeakAuras only)</small>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Search types</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchWA2" type="checkbox" <%= !options.advanced||options.searchWA2 ? "checked":"" %>> WeakAuras
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="searchImages" type="checkbox" <%= !options.advanced||options.searchImages ? "checked":"" %>> Images
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchElv" type="checkbox" <%= !options.advanced||options.searchElv ? "checked":"" %>> ElvUI
                            </label>
                        <div class="checkbox disabled">
                            <label>
                                <input name="searchFonts" type="checkbox" disabled> Fonts
                            </label>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchCollections" type="checkbox" <%= !options.advanced||options.searchCollections ? "checked":"" %>> Collections
                            </label>
                        </div>
                        <div class="checkbox disabled">
                            <label>
                                <input name="searchAudio" type="checkbox" disabled> Audio
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchSnippets" type="checkbox" <%= !options.advanced||options.searchSnippets ? "checked":"" %>> Snippets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="searchUsers" type="checkbox" <%= options.searchUsers ? "checked":"" %>> Usernames
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Categories</label>
                    <div class="col-sm-6">
                        <select id="select-categories" name="searchCategories[]" multiple placeholder="Select..."></select>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchAllCategories" type="checkbox" <%= options.searchAllCategories ? "checked":"" %>> Match All
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Options</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchPartials" type="checkbox" <%= options.searchPartials ? "checked":"" %>> Allow partial matches
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="searchCaseSensitive" type="checkbox" <%= options.searchCaseSensitive ? "checked":"" %>> Case sensitive
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox">
                            <label>
                                <input name="searchAnonymous" type="checkbox" <%= options.searchAnonymous ? "checked":"" %>> Include anonymous imports
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sort by</label>
                    <div class="col-sm-2">
                        <select name="sortBy" class="form-control">
                            <option value="update" <%= options.sortBy=="update" ? "selected":"" %>>Last Updated</option>
                            <option value="created" <%= options.sortBy=="created" ? "selected":"" %>>Import Date</option>
                            <option value="stars" <%= options.sortBy=="stars" ? "selected":"" %>>Stars</option>
                            <option value="name" <%= options.sortBy=="name" ? "selected":"" %>>Name</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select name="sortDirection" class="form-control">
                            <option value="DESC" <%= options.sortDirection=="DESC" ? "selected":"" %>>Descending</option>
                            <option value="ASC" <%= options.sortDirection=="ASC" ? "selected":"" %>>Ascending</option>
                        </select>
                    </div>
                </div>
                <% if (!options.advancedSearch) { %>
            </div>
            <% } %>
                  -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <% if (auralist && auralist.results && auralist.results.length>0) {
            %>
            <% include static/aura-list %>

        <% } %>
    </div>
</div>


<script type="text/javascript">
var all_categories = <%- JSON.stringify(category_menu) %>
var wago_categories = <%- JSON.stringify(options.searchCategories || []) %>
<% if (auralist.more) { %>
var scroll_list=<%- JSON.stringify(auralist.more) %>
<% } %>
</script>

<% include static/footer %>