<% include static/header %>

<div class="block">
    <form action="/wa-save/upload" id="importform" method="post" enctype="multipart/form-data">
        <div class="row flex-items-xs-top">
            <div class="col-sm-8 col-xs-12">
                <strong>Upload your WeakAuras.lua file</strong><br>
                <p>This is found in your &lt;WoW Directory&gt;/WTF/Account/&lt;AccountName&gt;/SavedVariables/WeakAuras.lua</p><br>
                <div id="lua_upload">
                    <input type="file" name="luafile" id="lua_file_input" class="hidden-xs-up" />
                    <label for="lua_file_input" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-upload"></span> Select file</label>
                    <span id="lua_file_input_filename"></span>
                </div>
                <input type="submit" class="btn" value="Submit" onclick="$(this).attr('disabled', 'disasbled').val('Uploading...');$('#importform').submit()" />
            </div>
            <div class="col-sm-4 col-xs-12" style="display:none">
                <strong>Options</strong><br>
                <div class="dropdown" id="visibilityDropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visibility: <span class="dropdownValue"><%= user && user.account ? user.account.default_aura_visibility : "Public" %></span>
                        <input name="auravisibility" type="hidden" value="<%= user && user.account ? user.account.default_aura_visibility : "Public" %>" class="inputValue" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="visibilityDropdown">
                        <a class="dropdown-item" href="#" data-val="Public">Public</a>
                        <a class="dropdown-item" href="#" data-val="Hidden">Hidden (only viewable with link)</a>
                        <% if (user && user.account) { %>
                            <a class="dropdown-item" href="#" data-val="Private">Private (only you may view)</a>
                        <% } %>
                    </div>
                </div>
                <div class="dropdown" id="importAsDropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Import as: <span class="dropdownValue"><%= user.account.username %></span>
                        <input name="anon" type="hidden" value="<%= user.account.username %>" class="inputValue" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="importAsDropdown">
                        <a class="dropdown-item" href="#" data-val="<%= user.account.username %>"><%= user.account.username %></a>
                        <a class="dropdown-item" href="#" data-val="Anonymous Guest">Anonymous Guest</a>
                    </div>
                </div>
                <div class="dropdown" id="expireInDropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expire After: <span class="dropdownValue"><%= (user && user.account)?'Never':'3 Months' %></span>
                        <input name="expires" type="hidden" value="<%= (user && user.account)?'Never':'3 Months' %>" class="inputValue" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="expireInDropdown">
                        <a class="dropdown-item" href="#" data-val="Never">Never</a>
                        <a class="dropdown-item" href="#" data-val="3 months">3 months</a>
                        <a class="dropdown-item" href="#" data-val="1 month">1 month</a>
                        <a class="dropdown-item" href="#" data-val="1 week">1 week</a>
                        <a class="dropdown-item" href="#" data-val="3 hours">3 hours</a>
                        <a class="dropdown-item" href="#" data-val="15 minutes">15 minutes</a>
                    </div>
                </div>
                <% if (static.beta_option ) { %>
                    <div class="dropdown" id="gameVersionDropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Game Version: <span class="dropdownValue">Live</span>
                            <input name="beta" type="hidden" value="Live" class="inputValue" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gameVersionDropdown">
                            <a class="dropdown-item" href="#" data-val="Live">Live</a>
                            <a class="dropdown-item" href="#" data-val="Beta"><%= static.beta_option.name %></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </form>
</div>

<% include static/footer %>