<% include static/header %>

<div class="row" id="aura_top">
    <div class="col-xs-12">
        <div class="block">
            <div class="meta"><%= wago.type %></div>
            <h4><%= wago.subgroup ? wago.subgroup : wago.name %>
                <button class="btn btn-sm btn-default hidden-xs-down hidden-xl-up" type="button" id="copywago2" data-clipboard-target="#wa_string" style="margin-top:-2px;float:right"><span class="icon-copy"></span> Copy Import String</button></h4>
            <span class="meta">
                <span class="icon-clock"></span> <strong><%= (wago.versions && wago.versions.length>1)?'Updated':'Imported' %></strong> <%= wago.display_date %>
            </span>
            <span class="meta">
                <span class="icon-sphere"></span> <strong>WoW</strong> <%= wago.wow_patch %>
            </span>
            <span class="meta">
                <span class="icon-user"></span> <strong>User</strong>
                <% if (wago.userlink) { %>
                    <a href="/profile/<%= wago.username %>"><%= wago.username %></a>
                <% } else { %>
                    <%= wago.username %>
                <% } %>
            </span>
            <span class="meta">
                <span class="icon-eye"></span> <strong>Views</strong> <%= wago.popularity.views.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
            </span>
            <span class="meta">
                <span class="icon-bubble"></span> <strong>Comments</strong> <%= wago.comments.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
            </span>
            <span class="meta">
                <span class="icon-star-full"></span> <strong>Stars</strong> <span id="star_count"><%= wago.popularity.favorites.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
            </span>
            <% if (wago.collectCount>0) { %>
                <span class="meta">
                    <span class="icon-database"></span> <strong>Collections</strong> <a href="/<%= wago._id %>/collections"><%= wago.collectCount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></a>
                </span>
            <% } %>
            <span class="meta">
                <span class="icon-link"></span> <strong>Link</strong> <a href="#" data-clipboard-text="https://wago.io/<%= wago._id %>" id="copyurl">https://wago.io/<%= wago._id %></a>
            </span>
            <br>
            <%
            for (var key in wago.categoryData) {
                if(!wago.categoryData.hasOwnProperty(key)) continue;
                %><span class="label label-default <%= wago.categoryData[key].cls %>"><%= wago.categoryData[key].text %></span><%
            }
            %>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-8 col-xl-left">
        <%
        if (wago.subgroup) {
            %>
            <div class="alert alert-warning" role="alert"><strong>Attention</strong>: You are viewing a WeakAura that is part of a WeakAura group <strong><%= wago.name %></strong>. By itself, this may not work as expected. The complete WeakAura can be found <a href="/<%= wago._id %>">here</a>.<br>With the exception of the import string and the table data below, other content on this page is reflective of the group's content.
            </div>
            <%
        }

        if (wago.code && wago.code.updated.getTime()!=wago.latest_version.getTime()) {
            %>
            <div class="alert alert-warning" role="alert">Warning, this is <strong>NOT</strong> the most recent version.<br>
                View the most recent update <a href="/<%= wago._id %>">here</a>.
            </div>
            <%
        }

        if (wago.hidden) {
            %>
            <div class="alert alert-info" role="alert"><strong>This Wago is hidden</strong> and can only be viewed with the link. Please respect the authors choice to hide this Wago.</div>
            <%
        }
        else if (wago.private) {
            %>
            <div class="alert alert-info" role="alert"><strong>This Wago is private</strong> and can only be viewed by you.</div>
            <%
        }
        if (wago.blacklist) {
            %>
            <div class="alert alert-danger"><strong>WARNING! Blacklisted functions detected.</strong><br>
            WeakAuras normally blocks these, but combined with malicious addons or running a /script or /run command, these counter-measures can be overwritten.<br>
            Please review the code or ask an expert on the <a href="https://discord.gg/0xib36UukL2DHlxb">Official WeakAura Discord</a> before importing.
            <pre><%
                for(i=0; i<wago.blacklist.length; i++) {
                    %><%= wago.blacklist[i]+"\n" %><%
                }
                %></pre>
            </div>
            <%
        }

        if (wago.brokenSevenOne) {
            %>
            <div class="alert alert-danger"><strong>Attention!</strong><br>
            As of patch 7.1, Blizzard has <a href="http://us.battle.net/forums/en/wow/topic/20749494846#post-1" target="_blank">changed how addons can interact with unit positions</a>.
            This WeakAura may not function as expected inside any instanced areas (raids, dungeons, battlegrounds, arenas, scenarios).
            </div>
            <%
        }

        if (wago.can_edit || user || (wago.versions && wago.versions.length>1)) {
            %>
            <div class="block">
                <%
                if (wago.can_edit) { %>
                    <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#modify_wago_modal"><span class="icon-wrench"></span> Edit details</button>
                    <% if (wago.type=='WEAKAURA' || wago.type=='ELVUI' || wago.type=='COLLECTION') { %>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#screenshot_modal"><span class="icon-images"></span> Screenshots</button>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#video_modal"><span class="icon-film"></span> Videos</button>
                    <% } %>
                    <% if (wago.type=='WEAKAURA' || wago.type=='ELVUI') { %>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#import_new_modal"><span class="icon-pencil"></span> New version</button>
                    <% } %>
                <% } %>
                <% if (wago.versions && wago.versions.length>1) { %>
                    <button class="btn btn-sm btn-default pull-left" type="button" data-toggle="modal" data-target="#previous_versions_modal"><span class="icon-history"></span> Previous versions</button>
                <% } %>
                <% if (!wago.private && !wago.blacklist && (wago.type=='WEAKAURA' || wago.type=='ELVUI')) { %>
                    <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#embed_modal"><span class="icon-cloud"></span> Embed</button>
                <% } %>

                <% if(user && wago.type!='COLLECTION') { %>
                    <div class="float-right btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; My Collections <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="collection-select">
                            <%
                            if (user.collections && user.collections.length>0) {
                                for (i=0;i<user.collections.length;i++) {
                                    if (user.collections[i].collect.indexOf(wago._id)>=0) {
                                        %><li><a href="#" class="removefromcollection" data-collection="<%= user.collections[i]._id %>"><%= user.collections[i].name %></a></li><%
                                    } else {
                                        %><li><a href="#" class="addtocollection" data-collection="<%= user.collections[i]._id %>"><%= user.collections[i].name %></a></li><%
                                    }
                                }
                                %><li role="separator" class="divider"></li><%
                            } %>
                            <li><a href="#" class="newcollection">Create collection</a></li>
                        </ul>
                    </div>
                <% } %>

                <% if(user) { %>
                    <button class="btn btn-sm btn-default float-right" type="button" id="toggle_favorite"><span class="icon-star<%= wago.popularity.myfave ? '-full':'-empty' %>"></span> Favorite</button>
                <% } %>
                <br style="clear:both">
            </div>
            <br>
            <%
        }
        %>
        <div class="block">
            <strong>Description:</strong><br>
            <%- xbb.process({text: wago.description, human: wago.authorHuman }).html %>
        </div><br>
        <%
        if (wago.type=='COLLECTION') {
            %>
            <div class="block">
                <div class="text-muted">
                    <%= auralist.total %> results found.
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by <%= pageinfo.sort %> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="sortby-select">
                            <li><a href="?sort=date" class="sortresults" data-sort="date">Sort by Date</a></li>
                            <li><a href="?sort=stars" class="sortresults" data-sort="stars">Sort by Stars</a></li>
                            <li><a href="?sort=views" class="sortresults" data-sort="views">Sort by Views</a></li>
                            <li><a href="?sort=comments" class="sortresults" data-sort="comments">Sort by Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <% include static/aura-list %>
            <%
        }
        else {
            %>
            <div class="block">
                <div id="editor-options">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Edit: <span id="current_func">Table Data</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="select_func">
                            <li><a href="#" data-fn="datatable">Table Data</a></li>
                            <% for (var i=0; i<custom_func.length; i++) { %>
                                <li><a href="#" data-fn="<%= custom_func[i].path %>"><%= custom_func[i].name %></a></li>
                            <% } if (custom_func && custom_func.length==0) { %>
                                <li class="disabled"><a href="#">No custom functions detected.</a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="float-right btn-group">
                        <% if (wago.can_edit) { %>
                            <button type="button" class="btn btn-default btn-sm" id="save-wago">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
                            </button>
                        <% } else if (wago.type=='WEAKAURA' || wago.type=='ELVUI') { %>
                            <button type="button" class="btn btn-default btn-sm" id="export-wago">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
                            </button>
                        <% } else if (wago.type=='SNIPPET') { %>
                            <button type="button" class="btn btn-default btn-sm" id="export-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new snippet">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Clone
                            </button>
                        <% } %>
                        <% if (wago.can_edit || wago.type=='WEAKAURA') { %>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <% if (wago.can_edit && (wago.type=='WEAKAURA' || wago.type=='ELVUI')) { %>
                                    <li><a href="#" id="export-wago" data-toggle="tooltip" data-placement="right" title="Generate an import string without saving">Export</a></li>
                                    <li><a href="#" id="fork-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new import">Clone</a></li>
                                <% } %>
                                <% if (wago.can_edit && wago.type=='SNIPPET') { %>
                                    <li><a href="#" id="fork-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new snippet">Clone</a></li>
                                <% } %>

                                <% if (wago.type=='WEAKAURA') { %>
                                    <li id="extract-fn" style="display:none"><a href="#" id="extract-wago" data-toggle="tooltip" data-placement="right" title="Extract this function as a code snippet">
                                    Extract Function</a></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>

                    <% if (wago.code && wago.code.groups && wago.code.groups.length>1) { %>
                        <div class="float-right btn-group" style="margin-right:1em">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Extract from group <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="extract_single_wa">
                                <% for (var i=0; i<wago.code.groups.length; i++) { %>
                                    <li><a href="#" data-ident="<%= i %>"><%= wago.code.groups[i] %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <div id="lua-editor"><%= wago.type=='SNIPPET'?wago.code.lua:'' %></div>
            </div>
            <%
        }
        %>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-4">
        <%
        if (wago.code && wago.code.encoded) {
            if (wago.type=='WEAKAURA' && custom_func && custom_func.length>0) {
                %><div class='alert alert-danger'><strong>This Weak Aura includes custom functions.</strong></div><%
            }
            %>
            <div class="block">
                <% if (wago.type=='WEAKAURA' || wago.type=='ELVUI') {%>
                    <button class="btn btn-sm btn-default" type="button" id="copywago" data-clipboard-target="#wa_string"><span class="icon-copy"></span> Copy Import String</button><br>
                    <textarea id="wa_string" spellcheck="false"><%= wago.code.encoded %></textarea>
                <% } %>
            </div>
            <br>
            <%
        }
        %>
        <div id="screenshots_container" <% if ((!Object.keys(wago.screens) || Object.keys(wago.screens).length<1) && (!Object.keys(wago.videos) || Object.keys(wago.videos).length<1)) { %>style="display:none"<% } %>>
            <div class="block">
                <strong>Preview</strong>
                <div id="screenshots_wrapper">
                    <%
                    for (i=0;i<Object.keys(wago.videos).length;i++) {
                        %><a href="<%= wago.videos[i].thumbnail %>" class="playvideo" data-video="<%= wago.videos[i].embed %>" id="vidt_<%= wago.videos[i]._id %>"><img src="<%= wago.videos[i].thumbnail %>" /><span></span></a><%
                    }
                    for (i=0;i<Object.keys(wago.screens).length;i++) {
                        if (wago.screens[i].localFile) {
                            %><a href="/screenshots/<%= wago._id %>/<%= wago.screens[i].localFile %>" data-toggle="lightbox" data-gallery="preview" data-footer="<%= wago.screens[i].caption || "" %>" id="ss_<%= wago.screens[i]._id %>"><img src="/screenshots/<%= wago._id %>/<%= wago.screens[i].localFile %>" /></a><%
                        }
                        else {
                            %><a href="<%= wago.screens[i].url.original %>" data-toggle="lightbox" data-gallery="preview" data-footer="<%= wago.screens[i].caption || "" %>" id="ss_<%= wago.screens[i]._id %>"><img src="<%= wago.screens[i].url.original %>" /></a><%
                        }
                    }
                    %>
                </div>
            </div>
            <br>
        </div>
        <div class="block">
            <strong>Comments</strong>
            <% if (wago.comments && wago.comments.length==0) { %>
                <p>No comments yet. Be the first!</p>
            <% } else {
                for (var i=0; i<wago.comments.length; i++) {
                    %>
                    <div class="comment <%= wago.comments[i].attn ? 'comment-new':'' %>">
                        <div class="commentheader">
                            <small>Posted by <strong><%= wago.comments[i].authorName %></strong> <%= wago.comments[i].timeago %>. <a href="#reply" class="comment-reply" data-tag="<%= wago.comments[i].authorName %>">Reply</a> <span class="float-right localize-time"><%= moment(wago.comments[i].postDate).format('YYYY-MM-DD HH:mm') %></span></small>
                            <% if (wago.can_edit) { %>
                                <div class="btn-group float-right">
                                    <button class="btn btn-default btn-sm dropdown-toggle btn-comment-moderate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Moderate <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="delete-comment" data-comment="<%= wago.comments[i]._id %>" data-wago="<%= wago._id %>">Delete</a></li>
                                    </ul>
                                </div>
                            <% } %>
                        </div>
                        <div class="commenttext">
                            <%- xbb.process({text: wago.comments[i].commentText, human: wago.comments[i].authorVerifiedHuman }).html %>
                        </div>
                    </div>
                    <%
                }
            }

            if (user) {
                %>
                <form action="/postcomment" method="post">
                    <input type="hidden" name="wagoID" value="<%= wago._id %>" />
                    <div id="inreplyto"></div>
                    <input type="hidden" name="inreplyto" id="inreplytoid" />
                    <textarea class="form-control" name="commentText" style="width:100%;height:8em" id="commenttext"></textarea>
                    <input type="submit" class="btn btn-sm btn-default" value="Post Comment" /> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                    <br><small>Hint: Use @Username in your text to draw someone's attention.</small>
                </form>
                <%
            }
            %>
        </div>
    </div>
</div>



<% if (wago.can_edit) { %>
    <!-- modify wago modal -->
    <div class="modal" id="modify_wago_modal" tabindex="-1" role="dialog" aria-labelledby="modify_wago_modal">
        <div class="modal-dialog modal-lg" role="document">
            <form class="modal-content" method="post" action="/<%= wago._id %>/modify">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modify_wago_modal_label">Modify Details</h4>
                </div>
                <div class="modal-body">
                    <strong>Title</strong>
                    <input class="form-control" name="name" value="<%= wago.name %>" />
                </div>
                <div class="modal-body">
                    <strong>Description</strong> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                    <textarea class="form-control" id="cke_description" name="description" style="height:10em"><%= wago.description.replace(/<(?:.|\n)*?>/gm, '') %></textarea>
                </div>
                <div class="modal-body">
                    <strong>Categories</strong>
                    <select id="select-categories" name="categories[]" multiple placeholder="Select..."></select>
                </div>
                <div class="modal-body float-left">
                    <div class="dropdown" id="visibilityDropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visibility: <span class="dropdownValue"><%= wago.visibility %></span>
                            <input name="auravisibility" type="hidden" value="<%= wago.visibility %>" class="inputValue" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="visibilityDropdown">
                            <a class="dropdown-item" href="#" data-val="Public">Public</a>
                            <a class="dropdown-item" href="#" data-val="Hidden">Hidden (only viewable with link)</a>
                            <a class="dropdown-item" href="#" data-val="Private">Private (only you may view)</a>
                        </div>
                    </div>
                </div>
                <% if ((static.beta_option || wago.wow_beta) && (wago.type=='WEAKAURA' || wago.type=='ELVUI')) { %>
                    <div class="modal-body float-left">
                        <div class="dropdown" id="gameVersionDropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Game Version: <span class="dropdownValue"><%= wago.wow_beta ? static.beta_option.name || wago.date : 'Live' %></span>
                                <input name="beta" type="hidden" value="<%= wago.wow_beta ? static.beta_option.name || wago.date : 'Live' %>" class="inputValue" />
                            </a>
                            <div class="dropdown-menu" aria-labelledby="gameVersionDropdown">
                                <a class="dropdown-item" href="#" data-val="Live">Live</a>
                                <a class="dropdown-item" href="#" data-val="Beta"><%= static.beta_option.name %></a>
                            </div>
                        </div>
                    </div>
                <% } %>
                <br style="clear:both">
                <div class="modal-footer">
                    <span class="float-left">
                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_wago">Delete</a></small>
                        <small><a href="#" id="delete_wago_confirm" style="display:none">Confirm Delete</a></small>
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-default" value="Save changes" />
                </div>
            </form>
        </div>
    </div>

    <% if (wago.type=='WEAKAURA' || wago.type=='ELVUI' || wago.type=='COLLECTION') { %>
        <!-- screenshot manager modal -->
        <div class="modal" id="screenshot_modal" tabindex="-1" role="dialog" aria-labelledby="screenshot_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modify_wago_modal_label">Screenshot Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row content">
                            <div class="col-sm-8">
                                <strong>Image list</strong>
                                <div id="ss_list">
                                    <%
                                    for (i=0;i<wago.screens.length;i++) {
                                        %><img src="<%= wago.screens[i].url.original %>" id="sst_<%= wago.screens[i]._id %>" data-fullsize="<%= wago.screens[i].url.original %>" data-caption="<%= wago.screens[i].caption %>" data-id="<%= wago.screens[i]._id %>" data-filename="<%= wago.screens[i].url.original.split(/[\\/]/).pop() %>" /><%
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <form id="ss_prop" method="post" action="/<%= wago._id %>/setcaption">
                                    <input type="hidden" id="ss_id" name="screenshot" value="" />
                                    <div class="text-center">
                                        <span id="ss_filename"></span><br>
                                        <a href="#" data-lightbox="selected_ss"><img src="" /></a>
                                    </div><br>
                                    <strong>Caption</strong>
                                    <input class="form-control" id="ss_caption" name="caption" value="" />
                                    <input type="submit" class="btn btn-xs float-right" value="Save"><br><br>
                                    <p class="float-right">
                                        <small><a href="#" id="delete_ss_confirm" style="display:none">Confirm Delete</a></small>
                                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_ss">Delete</a></small>
                                    </p><br style="clear:both">
                                </form>
                                <div id="ss_upload">
                                    <input type="file" name="file" id="screenshot_file_input" accept="image/*" multiple="" />
                                    <label for="screenshot_file_input" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-upload"></span> Upload file(s)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- video manager modal -->
        <div class="modal" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="video_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modify_wago_modal_label">Video Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row content">
                            <div class="col-sm-8">
                                <strong>Video list</strong>
                                <div id="video_list">
                                    <%
                                    for (i=0;i<wago.videos.length;i++) {
                                        %><img src="<%= wago.videos[i].thumbnail %>" id="vid_<%= wago.videos[i]._id %>" data-id="<%= wago.videos[i]._id %>" data-embed="<%= wago.videos[i].embed %>" /><%
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <form id="video_prop" method="post" action="/<%= wago._id %>/editvid">
                                    <div id="video_preview"></div>
                                    <input type="hidden" id="video_id" name="video" value="" />
                                    <p class="float-right">
                                        <small><a href="#" id="delete_vid_confirm" style="display:none">Confirm Delete</a></small>
                                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_vid">Delete</a></small>
                                    </p><br style="clear:both">
                                </form>
                                <div id="video_upload">
                                    <p>Enter the URL to your video.
                                    <br><small>Currently supported: Twitch, YouTube.</small></p>
                                    <input type="text" name="video_url" id="video_url_input" style="width:100%;border: 1px solid #555;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if (wago.type=='WEAKAURA' || wago.type=='ELVUI') { %>
        <!-- import new version modal -->
        <div class="modal" id="import_new_modal" tabindex="-1" role="dialog" aria-labelledby="import_new_modal_label">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" method="post" action="/<%= wago._id %>/replace">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="import_new_modal_label">Import New Version</h4>
                    </div>
                    <div class="modal-body">
                        <p>Update your WeakAura without changing the URL. Previous versions of the WeakAura will be available.</p>
                        <strong>Paste your WeakAura export string here</strong>
                        <textarea class="form-control" id="importwa" name="importwa" spellcheck="false"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
<% } %>

<% if (wago.versions && wago.versions.length>1) { %>
    <div class="modal" id="previous_versions_modal" tabindex="-1" role="dialog" aria-labelledby="export_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Previous Versions of this Weak Aura</h4>
          </div>
          <div class="modal-body">
            <% for(i=0;i<wago.versions.length;i++) { %>
                <a href="/<%= wago._id %>/<%= wago.versions.length-i %>">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">Version <%= wago.versions.length-i %> <% if (i==0) { %> (Latest) <% } %></div>
                        <div class="col-md-4"><%= moment(wago.versions[i].updated).format('MMMM Do YYYY, h:mm:ss a') %></div>
                        <div class="col-md-4">
                            <%
                            if (wago.versions[i].json) {
                                %><%= wago.versions[i].json.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> bytes<%
                            }
                            else if ( wago.versions[i].lua) {
                                %><%= wago.versions[i].lua.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> bytes<%
                            }
                            %>
                        </div>
                    </div>
                  </div>
                </div>
                </a>
            <% } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<% if (user && wago.type!='COLLECTION') { %>
    <div class="modal" id="modal_new_collection" tabindex="-1" role="dialog" aria-labelledby="modal_new_collection">
      <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" method="post" action="/collection/new">
            <input type="hidden" name="wagoID" value="<%= wago._id %>" />
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="import_new_modal_label">Create New Collection</h4>
              </div>
              <div class="modal-body">
                  <strong>Collection Name</strong>
                  <input class="form-control" name="name" />
              </div>
              <div class="modal-body">
                  <strong>Description</strong> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                  <textarea class="form-control" id="cke_description" name="description" style="height:10em"></textarea>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Save collection</button>
              </div>
            </div>
        </form>
      </div>
    </div>
<% } %>

<% if (wago.type=='WEAKAURA' || wago.type=='ELVUI') { %>
    <div class="modal" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="export_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Export</h4>
          </div>
          <div class="modal-body">
            <p>Your modified code in importable string format:</p>
            <button type="button" class="btn btn-default btn-xs" id="copywago_export" data-clipboard-target="#exportwago">Copy</button>
            <textarea class="form-control" id="exportwago" spellcheck="false"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<% if (wago.type=='WEAKAURA') { %>
<div class="modal" id="extract1_modal" tabindex="-1" role="dialog" aria-labelledby="extract1_modal_label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="import_new_modal_label">Extract <span id="extract1_name"></span></h4>
      </div>
      <div class="modal-body">
        <p>Your extracted import string:</p>
        <button type="button" class="btn btn-default btn-xs" id="copyaura_extract1wa" data-clipboard-target="#extract1wa">Copy</button>
        <textarea class="form-control" id="extract1wa" spellcheck="false"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (!wago.private && !wago.blacklist && (wago.type=='WEAKAURA' || wago.type=='ELVUI')) { %>
    <div class="modal" id="embed_modal" tabindex="-1" role="dialog" aria-labelledby="embed_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Embed this code in your website.</h4>
          </div>
          <div class="modal-body">
            <p>Copy the following code and place anywhere on your website.</p>
            <div class="well">&lt;script src="//wago.io/<%=wago._id %>/embed.js"&gt;&lt;/script&gt;</div>
            <p>This will render the following output. It will always show the most recent version.</p>
            <script type="text/javascript"><% include wago-embed %> </script>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<script type="text/javascript" src='/assets/js/ace-1.2.3/ace.js'></script>
<script type="text/javascript">
<% if (wago.code && wago.code.json) { %>
var wago_table = <%- wago.code.json -%>
<% } else { %>
var wago_table = false
<% } %>
var all_categories = <%- JSON.stringify(categories) %>
var wago_categories = <%- JSON.stringify(wago.categories) %>
var wago_fave = <%= wago.popularity.myfave ? 'true':'false' %>
var wagoID = "<%= wago._id %>"
<%= (wago._id=='EJVb2hWQW') ? "var testJS=1": "" %>
</script>

<% include static/footer %>