<% include static/header %>
<body id="page-wago">
<% include static/top-nav %>
<div class="container">
    <div class="row content" id="aura_top">
        <div class="col-md-12" style="margin-bottom:.2em">
            <h2><%= wago.name %></h2>
            <small class='pull-left'><%= (wago.versions && wago.versions.length>1)?'Updated':(wago.type=='WEAKAURAS2')?'Imported':'Created' %> by
                <span class="glyphicon glyphicon-user"></span>
                <% if (wago.userlink) { %>
                    <a href="/profile/<%= wago.username %>"><%= wago.username %></a>
                <% } else { %>
                    <%= wago.username %>
                <% } %>
                about <span style="border-bottom:1px dashed #570000" data-toggle="tooltip" title="<%= wago.display_date %>"><%= wago.display_date_ago %></span> (WoW <%= wago.wow_patch %>)
            </small>
            <% if (wago.collectCount && wago.collectCount>0) {
                %><small class='pull-right'><%= wago.name %> is included in <a href="/<%= wago._id %>/collections"><%= wago.collectCount %> collections</a>.</small><%
            } %>
        </div>
    </div>
    <div class="row content">
        <div id="aurainfo">
            <% if (wago.can_edit) { %>
                <div class="btn-group">
                    <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#modify_wago_modal"><span class="glyphicon glyphicon-cog"></span> Edit details</button>
                    <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI' || wago.type=='COLLECTION') { %>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#screenshot_modal"><span class="glyphicon glyphicon-camera"></span> Screenshots</button>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#video_modal"><span class="glyphicon glyphicon-film"></span> Videos</button>
                    <% } %>
                    <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI') { %>
                        <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#import_new_modal"><span class="glyphicon glyphicon-tree-conifer"></span> New version</button>
                    <% } %>
                </div>
            <% } %>

            <div class="btn-group">
                <button class="btn btn-sm btn-default" type="button" data-clipboard-text="https://wago.io/<%= wago._id %>" id="copyurl"><span class="glyphicon glyphicon-flash"></span> https://wago.io/<%= wago._id %></button>
                <% if (wago.versions && wago.versions.length>1) { %>
                    <button class="btn btn-sm btn-default pull-left" type="button" data-toggle="modal" data-target="#previous_versions_modal" style="margin-left:-1px"><span class="glyphicon glyphicon-time"></span> Previous versions</button>
                <% } %>
                <% if (!wago.private && !wago.blacklist && (wago.type=='WEAKAURAS2' || wago.type=='ELVUI')) { %>
                    <button class="btn btn-sm btn-default pull-left" type="button" data-toggle="modal" data-target="#embed_modal" style="margin-left:-1px"><span class="glyphicon glyphicon-cloud"></span> Embed</button>
                <% } %>
            </div>

            <div class="pull-right btn-group">
                <span class="input-group-addon pull-left"><span class="glyphicon glyphicon-eye-open"></span> <%= wago.popularity.views.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                <button class="btn btn-sm btn-default <%= wago.attnComments ? 'btn-comment-alert':'' %>" type="button" id="commentjump"><span class="glyphicon glyphicon-comment"></span> <span id="comment_count"><%= wago.comments.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></button>
                <button class="btn btn-sm btn-default btn-favorite" type="button" id="<%= user && user.account ? 'toggle_favorite':'' %>"><span class="glyphicon glyphicon-star<%= wago.popularity.myfave ? '':'-empty' %>"></span> <span id="star_count"><%= wago.popularity.favorites.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></button>
            </div>

            <% if(user && wago.type!='COLLECTION') { %>

                <div class="pull-right btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; My Collections <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="collection-select">
                        <%
                        if (user.collections && user.collections.length>0) {
                            for (i=0;i<user.collections.length;i++) {
                                if (user.collections[i].collect.indexOf(wago._id)>=0) {
                                    %><li><a href="#" class="removefromcollection" data-collection="<%= user.collections[i]._id %>"><%= user.collections[i].name %></a></li><%
                                } else {
                                    %><li><a href="#" class="addtocollection" data-collection="<%= user.collections[i]._id %>"><%= user.collections[i].name %></a></li><%
                                }
                            }
                            %><li role="separator" class="divider"></li><%
                        } %>
                        <li><a href="#" class="newcollection">Create collection</a></li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>

    <div class="row content" id="aura-main">
        <div class="col-md-12">
            <%
            if (wago.hidden) {
                %>
                <div class="alert alert-info" role="alert">This WeakAura is hidden and can only be viewed with the link. Please respect the authors choice to hide this Weakwago.</div>
                <%
            }
            else if (wago.private) {
                %>
                <div class="alert alert-info" role="alert">This WeakAura is private and can only be viewed by you.</div>
                <%
            }
            if (wago.blacklist) {
                %>
                <div class="alert alert-danger"><strong>WARNING! Blacklisted functions detected.</strong><br>
                WeakAuras normally blocks these, but combined with malicious addons or running a /script or /run command, these counter-measures can be overwritten.<br>
                Please review the code or ask an expert on the <a href="https://discord.gg/0xib36UukL2DHlxb">Unofficial WeakAura Discord</a> before importing.
                <pre><%
                    for(i=0; i<wago.blacklist.length; i++) {
                        %><%= wago.blacklist[i]+"\n" %><%
                    }
                    %></pre>
                </div>
                <%
            }
            %>
        </div>
        <div class="col-md-<%=((wago.screens && Object.keys(wago.screens).length>0) || (custom_func && custom_func.length>0) || wago.type=='WEAKAURAS2' || wago.type=='ELVUI')?6:12 %>" id="aura-content">
            <%
            for (var key in wago.categoryData) {
                if(!wago.categoryData.hasOwnProperty(key)) continue;
                %><span class="label label-default <%= wago.categoryData[key].cls %>"><%= wago.categoryData[key].text %></span><%
            }
            if (wago.code && wago.code.updated.getTime()!=wago.latest_version.getTime()) {
                %><div class="alert alert-danger" role="alert">Warning, this is <strong>NOT</strong> the most recent version.<br>
                    View the most recent update <a href="/<%= wago._id %>">here</a>.
                </div><%
            }
            %>
            <address>
                <strong>Description</strong><br>
                <div><%- xbb.process({text: wago.description, human: wago.authorHuman }).html %></div>
            </address>
        </div>
        <div class="col-md-6">
            <div id="screenshots_container" <% if ((!Object.keys(wago.screens) || Object.keys(wago.screens).length<1) && (!Object.keys(wago.videos) || Object.keys(wago.videos).length<1)) { %>style="display:none"<% } %>>
                <strong>Preview</strong>
                <div id="screenshots_wrapper">
                    <%
                    if (wago.screens && wago.screens[0]) {
                        %><a href="<%= wago.screens[0].url.original %>" data-lightbox="screenshots" data-title="<%= wago.screens[0].caption || "" %>" id="ss_<%= wago.screens[0]._id %>"><img src="<%= wago.screens[0].url.original %>" /></a><%
                    }
                    for (i=0;i<Object.keys(wago.videos).length;i++) {
                        %><a href="<%= wago.videos[i].thumbnail %>" class="playvideo" data-video="<%= wago.videos[i].embed %>" id="vidt_<%= wago.videos[i]._id %>"><img src="<%= wago.videos[i].thumbnail %>" /><span></span></a><%
                    }
                    for (i=1;i<Object.keys(wago.screens).length;i++) {
                        %><a href="<%= wago.screens[i].url.original %>" data-lightbox="screenshots" data-title="<%= wago.screens[i].caption || "" %>" id="ss_<%= wago.screens[i]._id %>"><img src="<%= wago.screens[i].url.original %>" /></a><%
                    }
                    %>
                </div>
                <div id="videoplayer" class="embed-responsive embed-responsive-16by9"></div>
            </div>
            <% if (wago.type=='WEAKAURAS2' && custom_func && custom_func.length>0) {
                %><p class='text-danger'><strong>This Weak Aura includes custom functions.</strong></p><%
            } %>
            <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI') {%>
                <strong>Import String</strong><br>
                <button type="button" class="btn btn-default btn-danger btn-xs" id="copywago" data-clipboard-target="#wa_string">Copy</button>
                <textarea id="wa_string" spellcheck="false"><%= wago.code.encoded %></textarea>
            <% } %>
        </div>
    </div>
    <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI' || wago.type=='SNIPPET') { %>
        <div class="row content">
            <div id="editor-options">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit: <span id="current_func">Table Data</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="select_func">
                        <li><a href="#" data-fn="datatable">Table Data</a></li>
                        <% for (var i=0; i<custom_func.length; i++) { %>
                            <li><a href="#" data-fn="<%= custom_func[i].path %>"><%= custom_func[i].name %></a></li>
                        <% } if (custom_func && custom_func.length==0) { %>
                            <li class="disabled"><a href="#">No custom functions detected.</a></li>
                        <% } %>
                    </ul>
                </div>
                <div class="pull-right btn-group">
                    <% if (wago.can_edit) { %>
                        <button type="button" class="btn btn-default btn-sm" id="save-wago">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
                        </button>
                    <% } else if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI') { %>
                        <button type="button" class="btn btn-default btn-sm" id="export-wago">
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
                        </button>
                    <% } else if (wago.type=='SNIPPET') { %>
                        <button type="button" class="btn btn-default btn-sm" id="export-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new snippet">
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Clone
                        </button>
                    <% } %>
                    <% if (wago.can_edit || wago.type=='WEAKAURAS2') { %>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <% if (wago.can_edit && (wago.type=='WEAKAURAS2' || wago.type=='ELVUI')) { %>
                                <li><a href="#" id="export-wago" data-toggle="tooltip" data-placement="right" title="Generate an import string without saving">Export</a></li>
                                <li><a href="#" id="fork-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new import">Clone</a></li>
                            <% } %>
                            <% if (wago.can_edit && wago.type=='SNIPPET') { %>
                                <li><a href="#" id="fork-wago" data-toggle="tooltip" data-placement="right" title="Save your edits as a new snippet">Clone</a></li>
                            <% } %>

                            <% if (wago.type=='WEAKAURAS2') { %>
                                <li id="extract-fn" style="display:none"><a href="#" id="extract-wago" data-toggle="tooltip" data-placement="right" title="Extract this function as a code snippet">
                                Extract Function</a></li>
                            <% } %>
                        </ul>
                    <% } %>
                </div>

                <% if (wago.code.groups && wago.code.groups.length>1) { %>
                    <div class="pull-right btn-group" style="margin-right:1em">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Extract from group <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="extract_single_wa">
                            <% for (var i=0; i<wago.code.groups.length; i++) { %>
                                <li><a href="#" data-ident="<%= i %>"><%= wago.code.groups[i] %></a></li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="row content">
            <div id="lua-editor"><%= wago.type=='SNIPPET'?wago.code.lua:'' %></div>
        </div>
    <% } %>

    <% if (auralist.count>0) { %>
        <div class="row content">
            <p><strong><%= wago.name %></strong> collection includes the following:</p>
            <% include static/aura-list %>
        </div>
    <% } %>


    <div class="row content" id="comments_container">
        <div class="col-md-12" id="comments">
            <strong>Comments</strong>
            <% if (wago.comments && wago.comments.length==0) { %>
                <p>No comments yet. Be the first!</p>
            <% } else {
                for (var i=0; i<wago.comments.length; i++) {
                    %>
                    <div class="comment <%= wago.comments[i].attn ? 'comment-new':'' %>">
                        <div class="commentheader">
                            Posted by <%= wago.comments[i].authorName %> <%= wago.comments[i].timeago %>. <small><a href="#reply" class="comment-reply" data-tag="<%= wago.comments[i].authorName %>">Reply</a></small> <small class="pull-right localize-time"><%= moment(wago.comments[i].postDate).format('YYYY-MM-DD HH:mm') %></small>
                            <% if (wago.can_edit) { %>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default btn-sm dropdown-toggle btn-comment-moderate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Moderate <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="delete-comment" data-comment="<%= wago.comments[i]._id %>" data-wago="<%= wago._id %>">Delete</a></li>
                                    </ul>
                                </div>
                            <% } %>
                        </div>
                        <div class="commenttext">
                            <%- xbb.process({text: wago.comments[i].commentText, human: wago.comments[i].authorVerifiedHuman }).html %>
                        </div>
                    </div>
                    <%
                }
            }

            if (user) {
                %>
                <form action="/postcomment" method="post">
                    <input type="hidden" name="wagoID" value="<%= wago._id %>" />
                    <div id="inreplyto"></div>
                    <input type="hidden" name="inreplyto" id="inreplytoid" />
                    <textarea class="form-control" name="commentText" style="width:100%;height:8em" id="commenttext"></textarea>
                    <input type="submit" class="btn btn-sm btn-danger" value="Post Comment" /> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                    <br><small>Hint: Use @Username in your text to draw someone's attention.</small>
                </form>
                <%
            }
            %>
        </div>
    </div>
</div>


<% if (wago.can_edit) { %>
    <!-- modify wago modal -->
    <div class="modal" id="modify_wago_modal" tabindex="-1" role="dialog" aria-labelledby="modify_wago_modal">
        <div class="modal-dialog modal-lg" role="document">
            <form class="modal-content" method="post" action="/<%= wago._id %>/modify">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modify_wago_modal_label">Modify Details</h4>
                </div>
                <div class="modal-body">
                    <strong>Title</strong>
                    <input class="form-control" name="name" value="<%= wago.name %>" />
                </div>
                <div class="modal-body">
                    <strong>Description</strong> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                    <textarea class="form-control" id="cke_description" name="description" style="height:10em"><%= wago.description.replace(/<(?:.|\n)*?>/gm, '') %></textarea>
                </div>
                <div class="modal-body">
                    <strong>Categories</strong>
                    <select id="select-categories" name="categories[]" multiple placeholder="Select..."></select>
                </div>
                <div class="modal-body" style="width:30%">
                    <div class="input-group">
                        <span class="input-group-addon">Visibility</span>
                        <button type="button" id="wago-visibility-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%; border-top-left-radius: 0; border-bottom-left-radius: 0;"><%= wago.visibility %> <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" id="wago-visibility-select">
                              <li><a href="#">Public</a></li>
                              <li><a href="#">Hidden</a></li>
                              <li><a href="#">Private</a></li>
                        </ul>
                        <input type="hidden" id="wago-visibility" name='wagovisibility' value="<%= wago.visibility %>" />
                    </div>
                </div>
                <% if ((static.beta_option || wago.wow_beta) && (wago.type=='WEAKAURAS2' || wago.type=='ELVUI')) { %>
                    <div class="modal-body" style="width:30%">
                        <div class="input-group">
                            <span class="input-group-addon">WoW Version</span>
                            <button type="button" id="wago-beta-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%; border-top-left-radius: 0; border-bottom-left-radius: 0;"><%= wago.wow_beta ? static.beta_option.name || wago.display_date : 'Live' %> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" id="wago-beta-select">
                                  <li><a href="#">Live</a></li>
                                  <li><a href="#"><%= static.beta_option.name || wago.display_date %></a></li>
                            </ul>
                            <input type="hidden" id="wago-beta" name='beta' value="<%= wago.wow_beta ? static.beta_option.name || wago.display_date : 'Live' %>" />
                        </div>
                    </div>
                <% } %>
                <div class="modal-footer">
                    <span class="pull-left">
                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_wago">Delete</a></small>
                        <small><a href="#" id="delete_wago_confirm" style="display:none">Confirm Delete</a></small>
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Save changes" />
                </div>
            </form>
        </div>
    </div>

    <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI' || wago.type=='COLLECTION') { %>
        <!-- screenshot manager modal -->
        <div class="modal" id="screenshot_modal" tabindex="-1" role="dialog" aria-labelledby="screenshot_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modify_wago_modal_label">Screenshot Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row content">
                            <div class="col-sm-8">
                                <strong>Image list</strong>
                                <div id="ss_list">
                                    <%
                                    for (i=0;i<wago.screens.length;i++) {
                                        %><img src="<%= wago.screens[i].url.original %>" id="sst_<%= wago.screens[i]._id %>" data-fullsize="<%= wago.screens[i].url.original %>" data-caption="<%= wago.screens[i].caption %>" data-id="<%= wago.screens[i]._id %>" data-filename="<%= wago.screens[i].url.original.split(/[\\/]/).pop() %>" /><%
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <form id="ss_prop" method="post" action="/<%= wago._id %>/setcaption">
                                    <input type="hidden" id="ss_id" name="screenshot" value="" />
                                    <div class="text-center">
                                        <span id="ss_filename"></span><br>
                                        <a href="#" data-lightbox="selected_ss"><img src="" /></a>
                                    </div><br>
                                    <strong>Caption</strong>
                                    <input class="form-control" id="ss_caption" name="caption" value="" />
                                    <input type="submit" class="btn btn-xs pull-right" value="Save"><br><br>
                                    <p class="pull-right">
                                        <small><a href="#" id="delete_ss_confirm" style="display:none">Confirm Delete</a></small>
                                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_ss">Delete</a></small>
                                    </p><br style="clear:both">
                                </form>
                                <div id="ss_upload">
                                    <input type="file" name="file" id="screenshot_file_input" accept="image/*" multiple="" />
                                    <label for="screenshot_file_input" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-upload"></span> Upload file(s)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- video manager modal -->
        <div class="modal" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="video_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modify_wago_modal_label">Video Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row content">
                            <div class="col-sm-8">
                                <strong>Video list</strong>
                                <div id="video_list">
                                    <%
                                    for (i=0;i<wago.videos.length;i++) {
                                        %><img src="<%= wago.videos[i].thumbnail %>" id="vid_<%= wago.videos[i]._id %>" data-id="<%= wago.videos[i]._id %>" data-embed="<%= wago.videos[i].embed %>" /><%
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <form id="video_prop" method="post" action="/<%= wago._id %>/editvid">
                                    <div id="video_preview"></div>
                                    <input type="hidden" id="video_id" name="video" value="" />
                                    <p class="pull-right">
                                        <small><a href="#" id="delete_vid_confirm" style="display:none">Confirm Delete</a></small>
                                        <small style="opacity:.3"><span class="glyphicon glyphicon-remove"></span> <a href="#" id="delete_vid">Delete</a></small>
                                    </p><br style="clear:both">
                                </form>
                                <div id="video_upload">
                                    <p>Enter the URL to your video.
                                    <br><small>Currently supported: Twitch, YouTube.</small></p>
                                    <input type="text" name="video_url" id="video_url_input" style="width:100%;border: 1px solid #555;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI') { %>
        <!-- import new version modal -->
        <div class="modal" id="import_new_modal" tabindex="-1" role="dialog" aria-labelledby="import_new_modal_label">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" method="post" action="/<%= wago._id %>/replace">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="import_new_modal_label">Import New Version</h4>
                    </div>
                    <div class="modal-body">
                        <p>Update your WeakAura without changing the URL. Previous versions of the WeakAura will be available.</p>
                        <strong>Paste your WeakAura export string here</strong>
                        <textarea class="form-control" id="importwa" name="importwa" spellcheck="false"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
<% } %>

<% if (wago.versions && wago.versions.length>1) { %>
    <div class="modal" id="previous_versions_modal" tabindex="-1" role="dialog" aria-labelledby="export_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Previous Versions of this Weak Aura</h4>
          </div>
          <div class="modal-body">
            <% for(i=0;i<wago.versions.length;i++) { %>
                <a href="/<%= wago._id %>/<%= wago.versions.length-i %>">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">Version <%= wago.versions.length-i %> <% if (i==0) { %> (Latest) <% } %></div>
                        <div class="col-md-4"><%= moment(wago.versions[i].updated).format('MMMM Do YYYY, h:mm:ss a') %></div>
                        <div class="col-md-4"><%= (wago.versions[i].json || wago.versions[i].lua).length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> bytes</div>
                    </div>
                  </div>
                </div>
                </a>
            <% } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<% if (user && wago.type!='COLLECTION') { %>
    <div class="modal" id="modal_new_collection" tabindex="-1" role="dialog" aria-labelledby="modal_new_collection">
      <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" method="post" action="/collection/new">
            <input type="hidden" name="wagoID" value="<%= wago._id %>" />
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="import_new_modal_label">Create New Collection</h4>
              </div>
              <div class="modal-body">
                  <strong>Collection Name</strong>
                  <input class="form-control" name="name" />
              </div>
              <div class="modal-body">
                  <strong>Description</strong> <small>Some BB code is available: [b], [i], [u], [s], [code], [color=#123456], [size=(4-40)], <% if (user && user.account.verified_human) { %>[url], <% } %> [ul], [ol], [li] or [*], [table], [tr], [td]</small>
                  <textarea class="form-control" id="cke_description" name="description" style="height:10em"></textarea>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Save collection</button>
              </div>
            </div>
        </form>
      </div>
    </div>
<% } %>

<% if (wago.type=='WEAKAURAS2' || wago.type=='ELVUI') { %>
    <div class="modal" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="export_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Export</h4>
          </div>
          <div class="modal-body">
            <p>Your modified code in importable string format:</p>
            <button type="button" class="btn btn-default btn-danger btn-xs" id="copywago_export" data-clipboard-target="#exportwago">Copy</button>
            <textarea class="form-control" id="exportwago" spellcheck="false"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<% if (wago.type=='WEAKAURAS2') { %>
<div class="modal" id="extract1_modal" tabindex="-1" role="dialog" aria-labelledby="extract1_modal_label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="import_new_modal_label">Extract <span id="extract1_name"></span></h4>
      </div>
      <div class="modal-body">
        <p>Your extracted import string:</p>
        <button type="button" class="btn btn-default btn-danger btn-xs" id="copyaura_extract1wa" data-clipboard-target="#extract1wa">Copy</button>
        <textarea class="form-control" id="extract1wa" spellcheck="false"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (!wago.private && !wago.blacklist && (wago.type=='WEAKAURAS2' || wago.type=='ELVUI')) { %>
    <div class="modal" id="embed_modal" tabindex="-1" role="dialog" aria-labelledby="embed_modal_label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="import_new_modal_label">Embed this code in your website.</h4>
          </div>
          <div class="modal-body">
            <p>Copy the following code and place anywhere on your website.</p>
            <div class="well">&lt;script src="//wago.io/<%=wago._id %>/embed.js"&gt;&lt;/script&gt;</div>
            <p>This will render the following output. It will always show the most recent version.</p>
            <script type="text/javascript"><% include wago-embed %> </script>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% } %>

<%- CDN([ '/js/ace-1.2.3/ace.js']) %>
<script type="text/javascript">
<% if (wago.code && wago.code.json) { %>
var wago_table = <%- wago.code.json -%>
<% } else { %>
var wago_table = false
<% } %>
var all_categories = <%- JSON.stringify(categories) %>
var wago_categories = <%- JSON.stringify(wago.categories) %>
var wago_fave = <%= wago.popularity.myfave ? 'true':'false' %>
var wagoID = "<%= wago._id %>"
<%= (wago._id=='EJVb2hWQW') ? "var testJS=1": "" %>
</script>


<% include static/footer %>