<div id="aura-list" class="aura-listv2">
    <%
    for (i=0; i<auralist.results.length; i++) {
        var ss = ""
        if (auralist.results[i].thumb) {
            ss = '<img src="'+auralist.results[i].thumb+'" class="aura-img"/>'
        }
        else if (auralist.results[i].type=="IMAGE" && auralist.results[i].image && auralist.results[i].image[0].files.png) {
            ss = '<img src="/mywago/media/' + auralist.results[i].image[0].files.png + '" class="aura-img"/>'
        }
        else if (auralist.results[i].type=="IMAGE" && auralist.results[i].image && auralist.results[i].image[0].files.jpg) {
            ss = '<img src="/mywago/media/' + auralist.results[i].image[0].files.jpg + '" class="aura-img"/>'
        }

        if (auralist.results[i].type=="COLLECTION" && ss=="") {
            ss = "<img src='/assets/img/collection-default.png' class='aura-img'/>"
        }

        if (auralist.results[i].type=="USER" && ss=="") {
            ss = "<img src='/assets/img/user-default.png' class='aura-img'/>"
        }

        if (ss=="") {
            ss = "<img src='/assets/img/red-thunder.png' as='aura-img'/>"
        }


        if (auralist.results[i].type=="USER") {
            %>
            <div class="aura-container">
                <a href="/p/<%= auralist.results[i].name %>" class="row aura">
                    <div class="aura-image col-md-1"><%- ss %></div>
                    <div class="aura-data col-md-9">
                        <div class="aura-title"><%= auralist.results[i].name %></div>
                        <div class="aura-desc"><%- auralist.results[i].description %></div>
                    </div>
                    <div class="col-md-2">
                        <div class="aura-stats">
                            <div class="aura-type"><%= auralist.results[i].type %></div>
                        </div>
                    </div>
                </a>
            </div>
            <%
        }
        else {
            %>
            <div class="wago-search-item block">
                <div class="row">
                <a href="/<%= auralist.results[i].slug %>">
                    <div class="wago-ss col-xs-1"><%- ss %></div>
                    <div class="wago-info col-xs-11">
                        <% if (auralist.results[i].type=='WEAKAURA' || auralist.results[i].type=='ELVUI') { %>
                            <button class="float-right copy-remote-wago" data-wago="<%= auralist.results[i]._id %>"><span class="icon-copy"></span> Copy Import String</button>
                        <% } %>
                        <h5><%= auralist.results[i].name %>
                            <%
                            for (j=0; j<unreadComments.length; j++) {
                                if (unreadComments[j].wagoID==auralist.results[i]._id) {
                                    %><span class="tag tag-alert">Unread @mention</span><%
                                    break
                                }
                            }

                            if (auralist.results[i].brokenSevenOne) {
                                %><span class="tag tag-alert">Patch 7.1 Alert</span><%
                            }
                            %>
                        </h5>
                        <div class="wago-stats">
                            <span class="meta"><strong><%= auralist.results[i].type %></strong></span>
                            <span class="meta">
                                <span class="icon-clock"></span> <strong>Updated</strong> <%= auralist.results[i].date %>
                            </span>
                            <span class="meta">
                                <span class="icon-user"></span> <strong>User</strong> <span class="<%= auralist.results[i].userclass %>"><%= auralist.results[i].username || 'Anonymous' %></span>
                            </span>
                            <span class="meta">
                                <span class="icon-eye"></span>
                                <strong>Views</strong> <%= auralist.results[i].popularity.views.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </span>
                            <span class="meta">
                                <span class="icon-bubble <% if (auralist.results[i].unreadComments>0) {%>alert-comments<% } %>"></span>
                                <strong>Comments</strong> <%= auralist.results[i].commentCount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </span>
                            <span class="meta">
                                <span class="icon-star-full"></span>
                                <strong>Stars</strong> <%= auralist.results[i].popularity.favorites.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </span>
                            <% if (auralist.results[i].private || auralist.results[i].hidden) { %>
                                <span class="meta">
                                    <span class="icon-key2"></span>
                                    <strong>Visibility</strong> <%- auralist.results[i].private ? 'Private':'Hidden' %>
                                </span>
                            <% } %>
                        </div>
                        <div class="description"><%- auralist.results[i].description %></div>
                        <% if (auralist.results[i].categories) { %>
                            <div class="aura-categories">
                                <%
                                var n=0;
                                var lastCat=null
                                for (var key in auralist.results[i].categories) {
                                    if(!auralist.results[i].categories.hasOwnProperty(key) || !auralist.results[i].categories[key].text) continue;
                                    n++
                                    lastCat = auralist.results[i].categories[key]
                                    if (n<=6) {
                                        %><span class="label label-default <%= auralist.results[i].categories[key].cls %>"><%= auralist.results[i].categories[key].text %></span><%
                                    }
                                }
                                if (n==7) {
                                    %><span class="label label-default <%= lastCat.cls %>"><%= lastCat.text %></span><%
                                }
                                else if (n>7) {
                                    %><span class="label label-default misc"><%= (n-6) %> more categories</span><%
                                }
                                %>
                            </div>
                        <% } %>
                    </div>
                <% if (auralist.results[i].code && auralist.results[i].code.encoded) { %>
                    <button type="button" class="btn btn-danger btn-xs aura-quickexport" data-clipboard-text="<%= auralist.results[i].code.encoded %>" id="export<%= auralist.results[i]._id %>">Export</button>
                <% } %>
                </a></div><!-- fsd -->
            </div>

            <%
        }
    }
    %>
</div>
