<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#000000" />

    <title><%= (site.title || 'Wago.io') + (pageinfo && pageinfo.title && pageinfo.title!=site.title ? (" | " + pageinfo.title) : "") %></title>
    <meta name="description" content="<%= pageinfo.description %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= (site.title || 'Wago.io') + (pageinfo.title!=site.title ? (" | " + pageinfo.title) : "") %>" />
    <meta property="og:type" content="<%= pageinfo.type %>" />
    <meta property="og:url" content="<%= pageinfo.url %>" />
    <meta property="og:image" content="<%= pageinfo.image %>" />
    <meta property="og:description" content="<%= pageinfo.description %>" />

    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/assets/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/assets/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/favicon/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/assets/favicon/largetile.png" />

    <link rel="stylesheet" href="/assets/wago.css?v=<%= cache.css %>">

  </head>
  <body id="<%= body.id %>" class="<%= body.theme %>" >
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div id="logo"><a href="/"><img src="/assets/img/logo/WebLogo_Light.png" alt="Wago.io" /></a></div>
            <div id="sidebar">
                <div id="user-profile">
                    <%
                    if (user) {
                        %>
                        Welcome! You are viewing Wago.io as <strong><%= user.account.username || 'User-'+user._id %></strong><br><a href="/logout">Logout</a>
                        <%
                    }
                    else {
                        %>
                        Welcome! You are viewing Wago.io as a guest.<br>Please <a href="/login">Login</a> for additional options.
                        <%
                    }
                    %>
                </div>
                <% if (user) { %>
                    <div id="my-lists">
                        <strong>View my...</strong>
                        <nav class="nav nav-pills nav-stacked">
                            <% if (user.account.username) { %>
                                <a class="nav-link" href="/p/<%= user.account.username %>">Profile</a>
                            <% } %>
                            <a class="nav-link" href="/my/mentions">Mentions <% if (unreadComments.length>0) {
                                %><span class="tag tag-alert"><%= unreadComments.length %> unread</span><%
                            } %></a>

                            <a class="nav-link" href="/my/stars">Stars</a>
                            <a class="nav-link" href="/account">Account Settings</a>
                        </nav>
                        <%
                        if (user && user.access.beta) {
                            %>
                            <br><strong>Beta Features</strong>
                            <nav class="nav nav-pills nav-stacked">
                                <span class="nav-link">Discord integration <a href="/account">Account Settings</a></span>
                                <a class="nav-link" href="/wa-save">Upload WeakAuras.lua</a>
                                <span class="nav-link">Load settings interface on any WeakAura</span>
                                <span class="nav-link">WA addon version check on import</span>
                            </nav>
                            <%
                        }
                        %>
                    </div>
                    <hr>
                <% } %>
                <div id="spotlight">
                    <strong>Wago of the Minute</strong><br>
                    <div>
                        <a href="/<%= WagoOfTheMoment._id %>">
                            <%= WagoOfTheMoment.name %><br>
                            <img src="<%= WagoOfTheMoment.screenshot %>" />
                        </a>
                    </div>
                </div>
                <hr>
                <div id="legal-info">
                    &copy; 2017 wago.io<br>
                    - <a href="/terms-of-service">Terms of Service</a><br>
                    - <a href="/privacy-policy">Privacy Policy</a><br><br>
                    Hosted by <a href="https://postapoc.gg">Post Apocalypse</a><br>
                    - <a href="https://www.patreon.com/wago">Patreon</a><br>
                    - <a href="https://discord.gg/wa2">Discord</a><br>
                    - <a href="https://github.com/oratory/wago.io">GitHub</a><br>
                    - <a href="/apidoc">API</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div id="navigation">
                <ul class="nav nav-inline">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Import</a>
                    </li>
                    <li class="nav-item mega-wago-dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-menu="weakauras" href="#">WeakAuras</a>
                        <div class="dropdown-menu">
                            <strong>View WeakAuras</strong> by category, or <a href="/weakauras/all">View all</a>
                            <ul class="mega-wago-dropdown-menu row">
                                <%
                                for (var mu=1; mu<=4; mu++) {
                                    %>
                                    <li>
                                        <%
                                        for(c=0; c<category_menu.length; c++) {
                                            if ((category_menu[c].menucol==mu || (category_menu[c].menucol==5 && mu==4)) && category_menu[c].WeakAuras2 && category_menu[c+1].count_WA>0) {
                                                %>
                                                <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                                <%
                                                for(d=0; d<category_menu.length; d++) {
                                                    if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                        %>
                                                        <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                            <i></i>
                                                            <% if (!category_menu[d].noselect) { %><a href="/weakauras/<%= category_menu[d].slug %>"><% } %>
                                                            <%= category_menu[d].text %>
                                                            <% if (!category_menu[d].noselect) { %></a><% } %>
                                                        </div>
                                                        <%
                                                        for(e=0; e<category_menu.length; e++) {
                                                            if (category_menu[d].id==category_menu[e].parent && !category_menu[e].hideFromMenu) {
                                                                %>
                                                                <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                                    <a href="/weakauras/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                                </div>
                                                                <%
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        %>
                                    </li>
                                    <%
                                }
                                %>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mega-wago-dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-menu="elvui" href="#">ElvUI</a>
                        <div class="dropdown-menu">
                            <strong>View ElvUI Profiles</strong> by category, or <a href="/elvui/all">View all</a>
                            <ul class="mega-wago-dropdown-menu row">
                                <li>
                                    <%
                                    var class_count=0
                                    for(d=0; d<category_menu.length; d++) {
                                        if ("cl0"==category_menu[d].parent && !category_menu[d].menucol && category_menu[d].count_elvui>0) {
                                            if (class_count==0) {
                                                %>
                                                <div class="dropdown-header-level1">Classes</div>
                                                <%
                                            }
                                            else if (class_count%3==0) {
                                                %>
                                                </li><li><div class="dropdown-header-level1">&nbsp;</div>
                                                <%
                                            }
                                            class_count++
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/elvui/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a class="<%= category_menu[e].cls %>" href="/elvui/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mega-wago-dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Vuhdo</a>
                        <div class="dropdown-menu">
                            <strong>View Vuhdo Imports</strong> by category, or <a href="/vuhdo/all">View all</a>
                            <ul class="mega-wago-dropdown-menu row">
                                <li>
                                    <%
                                    var class_count=0
                                    for(d=0; d<category_menu.length; d++) {
                                        if ("cl0"==category_menu[d].parent && !category_menu[d].menucol && category_menu[d].Vuhdo) {
                                            if (class_count==0) {
                                                %>
                                                <div class="dropdown-header-level1">Classes</div>
                                                <%
                                            }
                                            else if (class_count%4==0) {
                                                %>
                                                </li><li><div class="dropdown-header-level1">&nbsp;</div>
                                                <%
                                            }
                                            class_count++
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/vuhdo/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a class="<%= category_menu[e].cls %>" href="/vuhdo/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                                <li>
                                    <%
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==2 && category_menu[c+2].Vuhdo) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[d].Vuhdo && category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/vuhdo/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <%- category_menu[d].count_vuhdo>0 ? '<span class="badge">'+category_menu[d].count_vuhdo+'</span>':'' %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                    for(e=0; e<category_menu.length; e++) {
                                                        if (category_menu[d].id==category_menu[e].parent) {
                                                            %>
                                                            <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                                <a href="/vuhdo/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                            </div>
                                                            <%
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mega-wago-dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Collections</a>
                        <div class="dropdown-menu">
                            <strong>View Collections</strong> by category, or <a href="/collections/all">View all</a>
                            <ul class="mega-wago-dropdown-menu row">
                                <li>
                                    <%
                                    var class_count=0
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==1 && category_menu[c+1].count_collection>0) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                    if (class_count==0) {

                                                    }
                                                    else if (class_count==6) {
                                                        %>
                                                        </li><li><div class="dropdown-header-level1">&nbsp;</div>
                                                        <%
                                                    }
                                                    class_count++
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/collections/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                    for(e=0; e<category_menu.length; e++) {
                                                        if (category_menu[d].id==category_menu[e].parent) {
                                                            %>
                                                            <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                                <a class="<%= category_menu[e].cls %>" href="/collections/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                            </div>
                                                            <%
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                                <li>
                                    <%
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==2 && category_menu[c+1].count_collection>0) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/collections/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                    for(e=0; e<category_menu.length; e++) {
                                                        if (category_menu[d].id==category_menu[e].parent) {
                                                            %>
                                                            <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                                <a class="<%= category_menu[e].cls %>" "href="/collections/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                            </div>
                                                            <%
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                                <li>
                                    <%
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==3 && category_menu[c+1].count_collection>0) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucopl && !category_menu[d].noselect) {
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/collections/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==4 && category_menu[c+1].count_collection>0) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/collections/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    for(c=0; c<category_menu.length; c++) {
                                        if (category_menu[c].menucol==5 && category_menu[c+1].count_collection>0) {
                                            %>
                                            <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                            <%
                                            for(d=0; d<category_menu.length; d++) {
                                                if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                                    %>
                                                    <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                        <% if (!category_menu[d].noselect) { %><a href="/collections/<%= category_menu[d].slug %>"><% } %>
                                                        <%= category_menu[d].text %>
                                                        <% if (!category_menu[d].noselect) { %></a><% } %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mega-dropdown dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Code Snippets</a>
                        <div class="dropdown-menu" style="width:200px;margin-left:0">
                            <strong>View Code Snippets category</strong>
                            <ul class="mega-dropdown-menu row">
                                <li style="width:100%">
                                    <%
                                    var class_count=0
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[d].id=="snip0") {
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/snippets/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a class="<%= category_menu[e].cls %>" href="/snippets/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '').trim() %></a><%= category_menu[e+1] && category_menu[d].id==category_menu[e+1].parent ?',':'' %>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                    %>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/media">Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mywago">MyWago Addon</a>
                    </li>
                    <li class="nav-item">
                        <form action="/search">
                            <input type="text" name="q" class="form-control search-field" placeholder="Search" />
                        </form>
                    </li>
                </ul>
            </div>
            <div id="content">