<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WAGO.IO <sup style="-webkit-transform: rotate(-30deg);-moz-transform: rotate(-30deg);-ms-transform: rotate(-30deg);-o-transform: rotate(-30deg);"><small>beta</small></sup></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Import Aura</a>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
                    <div class="dropdown-menu">
                    <ul class="mega-dropdown-menu row">
                        <li>
                            <%
                            for(c=0; c<category_menu.length; c++) {
                                if (category_menu[c].menucol==1) {
                                    %>
                                    <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                    <%
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/categories/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <%- category_menu[d].count>0 ? '<span class="badge">'+category_menu[d].count+'</span>':'' %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a href="/categories/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %> <%- category_menu[e].count>0 ? '<span class="badge">'+category_menu[e].count+'</span>':'' %></a>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            %>
                        </li>
                        <li>
                            <%
                            var class_count=0
                            for(c=0; c<category_menu.length; c++) {
                                if (category_menu[c].menucol==2) {
                                    %>
                                    <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                    <%
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                            if (class_count==0) {
                                                %>
                                                <div style="width:50%;float:left">
                                                <%
                                            }
                                            else if (class_count==6) {
                                                %>
                                                </div><div style="width:50%;float:left">
                                                <%
                                            }
                                            class_count++
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/categories/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <%- category_menu[d].count>0 ? '<span class="badge">'+category_menu[d].count+'</span>':'' %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a href="/categories/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %> <%- category_menu[e].count>0 ? '<span class="badge">'+category_menu[e].count+'</span>':'' %></a>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            %>
                            </div>
                        </li>
                        <li style="width:20%">
                            <%
                            for(c=0; c<category_menu.length; c++) {
                                if (category_menu[c].menucol==3) {
                                    %>
                                    <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                    <%
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/categories/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <%- category_menu[d].count>0 ? '<span class="badge">'+category_menu[d].count+'</span>':'' %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a href="/categories/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %> <%- category_menu[e].count>0 ? '<span class="badge">'+category_menu[e].count+'</span>':'' %></a>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            %>
                        </li>
                        <li style="width:17%">
                            <%
                            for(c=0; c<category_menu.length; c++) {
                                if (category_menu[c].menucol==4) {
                                    %>
                                    <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                    <%
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/categories/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <%- category_menu[d].count>0 ? '<span class="badge">'+category_menu[d].count+'</span>':'' %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a href="/categories/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %> <%- category_menu[e].count>0 ? '<span class="badge">'+category_menu[e].count+'</span>':'' %></a>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            %>
                        </li>
                        <li style="width:17%">
                            <%
                            for(c=0; c<category_menu.length; c++) {
                                if (category_menu[c].menucol==5) {
                                    %>
                                    <div class="dropdown-header-level1 <%= category_menu[c].cls %>"><%= category_menu[c].text %></div>
                                    <%
                                    for(d=0; d<category_menu.length; d++) {
                                        if (category_menu[c].id==category_menu[d].parent && !category_menu[d].menucol) {
                                            %>
                                            <div class="dropdown-header-level2 <%= category_menu[d].cls %>">
                                                <% if (!category_menu[d].noselect) { %><a href="/categories/<%= category_menu[d].slug %>"><% } %>
                                                <%= category_menu[d].text %>
                                                <%- category_menu[d].count>0 ? '<span class="badge">'+category_menu[d].count+'</span>':'' %>
                                                <% if (!category_menu[d].noselect) { %></a><% } %>
                                            </div>
                                            <%
                                            for(e=0; e<category_menu.length; e++) {
                                                if (category_menu[d].id==category_menu[e].parent) {
                                                    %>
                                                    <div class="dropdown-header-level3 <%= category_menu[e].cls %>">
                                                        <a href="/categories/<%= category_menu[e].slug %>"><%= category_menu[e].text.replace(category_menu[d].text, '') %> <%- category_menu[e].count>0 ? '<span class="badge">'+category_menu[e].count+'</span>':'' %></a>
                                                    </div>
                                                    <%
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            %>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/media">Media</a>
                </li>
                <% if (user && user.account) { %>
                <li>
                    <a href="/mywago">MyWago Addon</a>
                </li>
                <% } %>
                <li>
                    <form class="navbar-form navbar-left" role="search" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user && typeof unreadComments=="object" && unreadComments.length>0) { %>
                    <li><a href="/comments-at-me">
                        <span class="glyphicon glyphicon-comment"></span> <%= unreadComments.length %>
                    </a></li>
                <% } %>
                <li>
                    <% if (user && user.account) { %>
                        <a href="/account" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= (user.account!="" ? user.account.username : 'User') %><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/my-stars">Starred</a></li>
                            <li><a href="/account">Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    <% } else { %>
                        <a href="/account">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
                        </a>
                    <% } %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
<div class="alert alert-warning"><strong>Note this site is a work in progress.</strong> Join the <a href="https://discord.me/wa2" target="_blank">Official WeakAura Discord</a> for any feedback. Check the <a href="/devlog">DevLog</a> for current and upcoming features. <small>Updated July 31</small>.</div>
</div>